.roaming{

  & .title{
    font-size: 18px;
    font-weight: bold;
    color: #14171a;
    display: inline;
  }

  & .content{
    display: flex;
    justify-content: space-around;
  }

  & .user-actions{
    margin-top: .3rem;
  }

  & .view-all a{
    font-size: var( --fontSize );
  }
  
  & b{
    font-weight: normal;
  }
}