.topbar{
  backface-visibility: hidden;
  border-bottom: 1px solid #e6ecf0;
  background: var(--colorWhite);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  margin:0;
  padding: 0;
  & .container{
    @apply --container;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
  }
  & .nav{
    display: flex;
  }
  & .nav > li{
    height: 46px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    & > a{
      font-size: 13px;
      font-weight: bold;
      line-height: 1;
      padding: 0 14px 0 4px;
      color: var(--colorFont);
      height: inherit;
      display:flex;
      align-items:center;
      border-bottom:solid 2px transparent;
      height:44px;
    }
  }
  &  .nav.menu > li > a:hover{
    color: var(--colorLightSkyBlue);
    border-bottom:solid 2px var(--colorLightSkyBlue);
  }
  & .navigation-extra{
    display:flex;
    justify-content:flex-end;
  }
  & .search{
    display: flex;
    align-items: center;
    & .form-search{
      height: 33px;
      margin: 0 12px 0 0;
      font-size: 12px;
      width: 221px;
      position:relative;
      & .input-search{
        background-color: #f5f8fa;
        border-radius: 21px;
        border: 1px solid #e6ecf0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #14171a;
        display: block;
        font-size: 12px;
        height: 32px;
        line-height: 16px;
        padding: 8px 32px 4px 12px;
        transition: all .2s ease-in-out;
        width: 100%;
        outline:0;
      }
      & .input-search:focus{
        background-color: #fff;
        border: 2px solid var(--colorLightSkyBlue);
        box-shadow: none;
        color: #14171a;
        opacity: 1;
      }
      & .icon-search{
        position: absolute;
        right: 4px;
        top: 10px;
        color:var(--colorFont);
      }
    }
  }
  & .right-actions{
    align-items: center;
    display: inline-flex;
    height: 100%;
    & .avatar{
      display: block;
      border-radius: 50%;
    }
  }
}
.avatar--size32 {
  height: 32px;
  width: 32px;
}